body {
  padding: 20px;
}

button {
  padding: 10px;
  background-color: #fff;
  border: solid 2px blue;
  cursor: pointer;
  color: blue;
  border-radius: 8px;
}

table th {
  background-color: black;
  color: #fff;
}

table.main-table td {
  background-color: #fff;
  padding: 10px;
}

table.main-table tbody tr:nth-child(odd) td {
  background-color: #eee;
}

table.main-table tbody tr td table tbody tr td {
  background-color: #f8f8ca !important;
}

table.main-table tbody tr td table tbody tr.green td {
  background-color: #aee15c !important;
}